:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;

	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.container {
  margin: 0;
  max-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.title h1, .title h2, .title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0px;
  justify-content: center;
  text-align: center;
  max-height: fit-content;
}

.title h2 {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover:not(.disabled) {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

button.refresh-button {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
}

button.refresh-button p {
  margin: 0;
  font-size: 0.8rem;
}

button.disabled {
  opacity: 0.5;
  cursor: unset;
}

#greet-input {
  margin-right: 5px;
}

form.row {
  width: 100%;
  justify-content: space-between;
}

div.title {
  flex-grow: 1;
}

div.search-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 1;
  overflow-y: auto;
  max-height: 80vh;
}

ul.search-results {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 1;
}

li.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  background-color: #0f0f0f;
}

li.search-result:hover {
  background-color: #000000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

a.search-result {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

p.search-result {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.search-result-basename {
  font-weight: 500;
}

.search-result-starting-timestamp {
  font-weight: 400;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
