:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;

  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0;
  max-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.title h1,
.title h2,
.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0px;
  justify-content: center;
  text-align: center;
  max-height: fit-content;
}

.title h2 {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover:not(.disabled) {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

button.refresh-button {
  background-color: #151515;
  padding: 0.8rem;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button.refresh-button p {
  margin: 0;
  font-size: 0.8rem;
}

button.disabled {
  opacity: 0.5;
  cursor: unset;
}

#greet-input {
  margin-right: 5px;
}

form.row {
  width: 100%;
  justify-content: space-between;
}

div.title {
  flex-grow: 1;
}

div.search-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 1;
  overflow-y: auto;
  max-height: 80vh;
}

ul.search-results {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 1;
}

li.search-result {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  background-color: #0f0f0f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

div.search-result {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

div.search-result-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem 1rem;
  gap: 0.2rem;
}

div.search-result-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100%;

  border-left: 1px solid #343434;
  background: #0d0d0d;
}

div.search-result-right a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.search-result-folder svg {
  height: 1.5rem;
  width: 1.5rem;
}

p.search-result {
  margin: 0;
  padding: 0;
}

button.settings {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

div.settings-modal-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(6, 6, 6, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

div.settings-modal {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 50%;
  min-height: 50%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 8px;
  background-color: #0f0f0f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

div.settings-header {
  display: flex;
  top: 0;
  width: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 0;
}

button.close {
  position: absolute;
  right: 0.5rem;

  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  color: #efefef;

  display: flex;
  align-items: center;
  justify-items: center;
}

button.close:hover {
  border-color: #efefef;
}

div.file-drop-zone {
  border: 2px dashed #656565;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  position: relative;
}

div.file-drop-zone.file-hovering {
  border-color: #396cd8;
}

div.file-drop-receiver {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-result-basename {
  font-weight: 500;
}

.search-result-starting-timestamp {
  font-weight: 400;
  opacity: 0.7;
}

:root {
  color: #f6f6f6;
  background-color: #2f2f2f;
}

input,
button {
  color: #ffffff;
  background-color: #0f0f0f98;
}
button:active {
  background-color: #0f0f0f69;
}
